<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.southern.dataconsistencychecker.mapper.CompareResultMapper">

    <resultMap id="CompareResultVOMap" type="com.southern.dataconsistencychecker.pojo.entity.CompareResult">
        <id property="id" column="id" />
        <result property="compareConfigId" column="compare_config_id" />
        <result property="compareTaskId" column="compare_task_id" />
        <result property="compareTime" column="compare_time" />
        <result property="compareStatus" column="compare_status" />
        <result property="description" column="description" />
        <result property="emailNotificationStatus" column="email_notification_status" />
        <result property="smsNotificationStatus" column="sms_notification_status" />
        <result property="isConsistent" column="is_consistent" />
    </resultMap>



    <select id="findCompareResultsByFilters" resultMap="CompareResultVOMap">
        SELECT
        id,
        compare_config_id,
        compare_task_id,
        compare_time,
        compare_status,
        description,
        email_notification_status,
        sms_notification_status,
        is_consistent
        FROM
        compare_result
        <where>
            <if test="query.compareConfigId != null">
                AND compare_config_id = #{query.compareConfigId}
            </if>
            <if test="query.compareStatus != null and query.compareStatus != ''">
                AND compare_status = #{query.compareStatus}
            </if>
            <if test="query.isConsistent != null">
                AND is_consistent = #{query.isConsistent}
            </if>
        </where>
    </select>


    <select id="selectById" parameterType="long" resultType="com.southern.dataconsistencychecker.pojo.entity.CompareResult">
        SELECT
            id,
            compare_config_id,
            compare_task_id,
            source_data_details,
            target_data_details,
            compare_time,
            compare_status,
            description,
            repair_source,
            repair_target,
            email_notification_status,
            sms_notification_status,
            is_consistent,
            create_time,
            update_time
        FROM
            compare_result
        WHERE
            id = #{id}
    </select>

</mapper>