<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.southern.dataconsistencychecker.mapper.CompareDetailLogMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO COMPARE_DETAIL_LOG (
        COMPARE_TASK_ID,
        SOURCE_DATA_SOURCE_ID,
        TARGET_DATA_SOURCE_ID,
        SOURCE_TABLE,
        TARGET_TABLE,
        TYPE,
        SOURCE_UNIQUE_KEYS,
        TARGET_UNIQUE_KEYS,
        SOURCE_FIELD_KEY,
        SOURCE_FIELD_VALUE,
        TARGET_FIELD_KEY,
        TARGET_FIELD_VALUE
        )
        VALUES
        <foreach collection="detailLogs" item="log" separator=",">
            (
            #{log.compareTaskId},
            #{log.sourceDataSourceId},
            #{log.targetDataSourceId},
            #{log.sourceTable},
            #{log.targetTable},
            #{log.type},
            #{log.sourceUniqueKeys},
            #{log.targetUniqueKeys},
            #{log.sourceFieldKey},
            #{log.sourceFieldValue},
            #{log.targetFieldKey},
            #{log.targetFieldValue}
            )
        </foreach>
    </insert>

</mapper>